.card-container {
  width: 10rem;
}

.card-container img {
  width: 100%;
  max-height: 10rem;
}

.btn-wishlist {
  position: absolute;
  top: 0;
  right: 0;
}

.card-relative {
  position: relative;
}

.card-container:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-detail {
  font-size: 0.5rem;
  padding: 0.5rem;
}

.card-brand {
  text-transform: uppercase;
}

.text-grey {
  color: var(--text-grey);
}

.mr-half {
  margin-right: 0.5rem;
}

.text-green {
  color: #388e3c;
}

.card-detail > * {
  padding-bottom: 0.2rem;
}

.btn-add {
  padding: 0.5rem;
  background-color: #ff9f00;
  width: auto;
  text-transform: uppercase;
  color: #fff;
  flex: 1;
}

.btn-add-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.card-container:hover .btn-add-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
